@import url('https://fonts.googleapis.com/css?family=Bungee+Hairline|Kavivanar|Cutive+Mono|Josefin+Sans:100,300,400,700');
* {
	box-sizing: border-box;
}
body, html {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	overflow-y: hidden;
}
#logomargin {
  margin-top: 50px;
}
.logo {
  width: 300px;
  margin: auto;
  /* text-align: center; */
}
.logo2 {
  width: 40px;
  padding: 0 5px;
  margin: auto;
  /* text-align: center; */
}
.logo-pad {
  padding-top: 20px;
  padding-bottom: 150px;
}



.container {
	position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100vh;
  overflow:hidden;
  background-image: url(img/background.jpg) ;
  background-position: center center;
  background-repeat:  no-repeat;
  background-attachment: fixed;
  background-size:  cover;
  background-color: #999;


}


a {
	text-decoration: none;
	color: white;
	/* line-height: -1.9em; */
}



h1 {
	margin: 0;

}

h2 {
  text-transform: uppercase;
  font-size: 2em;
  font-weight: 300;
  line-height: .2em;

}
h3, a {

  font-size: 1.5em;
  font-weight: 100;
  line-height: .5em;

}

h3, h2 {
  margin: 15px
}

#child {
	z-index: 2;
	font-family:'Josefin Sans', helvetica sans-serif ;
  font-style: normal;
	font-variant: normal;
  font-weight: 300;
	/* font-weight: 200;
	line-height: .7em; */
	color: white;
	/* text-shadow: #494949 1px 1px 1px; */
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute ;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#headerMain {
	/* height: 200px; */
	font-size: 3em;
  font-weight: 300;
	text-transform: uppercase;
  border-bottom: 1px solid white;
  margin-bottom: 30px;
}



#headerMain2 {
	font-size: 1.0em;
}

@media (max-width: 600px) {
  #headerMain {
    font-size: 1.6em;
  }

  h2 {
    font-size: 1.4em;
  }
}

@media (max-width: 375px) {
  #logomargin {
    margin-top: 25px;
	  }
		/* #headerMain {
	    font-size: 1.2em;
	  } */

  .logo-pad {

    padding-bottom: 70px;
  }
}

@media (max-height: 720px) {
	.logo {
	  width: 250px;

	}
	#headerMain {
		font-size: 1.6em;
	}

}
